// in this sass we can make the variables of the style and use them whenever we want them in the project

$first: white;
$second: #090c31;
$third: #5853ff;
$dark: rgb(44, 44, 44);
$text1: "Work Sans";
$text2: cursive;